@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200; 300; 400; 500; 600; 700; 800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100.. 900&família=Mukta:wght@200; 300; 400; 500; 600; 700; 800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    list-style-position: inside;
}

html, body {
    height: 100%;
    width: 100%;
}

:root {
    --fontinter: "Inter", sans-serif;
    
    --fontmukta: "Mukta", sans-serif;  
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

header nav {
    font-family: var(--fontinter);
    padding-left: 20px;
}

header nav ul, li a {
    display: flex;
    gap: 15px;
    color: #353436;
    font-size: 14px;
    font-weight: 500;
} 

header ul li, a:focus {
    color: #B91C1C;
}

.header-logo svg {
    height: 60px;
    width: 120px;
}

.icons-sociais {
    display: flex;
    gap: 10px;
}

.icons-sociais svg {
    height: 20px;
}

main {
    width: 100%;
}

.section1 {
    background-color: #111827;
    padding: 100px;
    width: 100%;
}

.section1 h2 {
    font-family: var(--fontmukta);
    font-weight: 600;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.section1 p {
    color: #F3F4F6;
    font-family: var(--fontinter);
    padding-top: 33px;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    font-size: 15px;
}

.section2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: var(--fontinter);
    color: white;
    font-size: 15px;
    text-align: center;

}

.art1 {
    width: 100%;
    padding: 40px;
    background-color: #353436;
}

.art2 {
    width: 100%;
    padding: 40px;
    background-color: #B91C1C;
}

.art2 p {
    max-width: 300px;
}

.art3 {
    width: 100%;
    padding: 40px;
    background-color: #481A8F;
}

.section3 {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.section3 h2 {
    margin-top: 50px;
}

.section3 main {
    width: 100%;
}

.section-cursos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item-curso {
    text-align: center;
    width: 170px;
    padding: 35px;
    background-color: #F3F4F6;
}

.item-curso-diferente {
    padding: 0;
    display: flex;
    align-items: center;
}

.item-curso-diferente svg {
    width: 100% !important;
}

.item-curso svg {
    width: 100px;
    height: 120px;
}

.section4 {
    width: 100%;
    display: flex;
}

.empregos {
    background-color: #B91C1C;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--fontmukta);
    font-size: 20px;
}

.vagas {
    width: 50%;
    text-align: center;
    background-color: #F3F4F6;
    padding-left: 15px;
    padding: 20px;
}

.vagas article {
    text-align: left;
    padding: 10px;
    line-height: 25px;
}

.vagas h2 {
    width: 100%;
    text-align: left;
    font-family: var(--fontmukta);
    font-size: 15px;
}

.vagas main {
    font-family: var(--fontinter);
    font-size: 14px;
    color: #353436;
    font-weight: 500;
}

.vagas footer {
    font-family: var(--fontinter);
    font-size: 12px;
    color: #B91C1C;
    text-decoration: underline;
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    .section2 {
        display: flex;
        flex-direction: column;
    }

    .empregos, .vagas {
        padding: 20px;
    }

    .section4 .empregos {
        text-align: center;
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    header {
        display: block;
        width: 400px;
        margin: 0 auto;
    }


    header .header-logo {
        text-align: center;        
    }

    header nav {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    header .icons-sociais {
        display: flex;
        padding-top: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .section2 {
        display: flex;
        flex-direction: column;
    }

    .section3 header {
        text-align: center;
    }
}


@media screen and (max-width: 553px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    header nav {
        padding: 0;
        text-align: center;
        padding-bottom: 10px;
    }

    .icons-sociais {
        order: -1;
        position: absolute;
        top: 0;
        right: 0;
        gap: 0;
        width: 90px;
        margin-right: 10px;
        gap: 15px;
    }

    .section1 {
        padding: 80px;
    }

    .section2 {
        display: flex;
        flex-direction: column;
    }

    .section4 {
        display: block;
    }

    .empregos {
        width: 100%;
    }

    .vagas {
        width: 100%;
    }

    .vagas article {
        text-align: center;
    }

    .vagas h2 {
        text-align: center;
    }

    .section4 .empregos {
        height: 200px;
    }
}

@media screen and (max-width: 414px) {
    .item-curso-diferente {
        height: 195px;
    }
}

@media screen and (max-width: 400px) {
    .section1 {
        padding: 50px;
        padding-bottom: 220px;
    }

    .section1 p {
        margin-top: 20px;
        width: 300px;
        position: absolute;
        left: 10%;
    }

    .icons-sociais {
        display: flex;
        width: 70px;
        gap: 5px;
    }
}

@media screen and (max-width: 340px) {
    .section1 p {
        font-size: 15px;
        width: 250px;
    }

    .icons-sociais {
        display: flex;
        width: 70px;
        gap: 10px;
    }
}