@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200; 300; 400; 500; 600; 700; 800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100.. 900&família=Mukta:wght@200; 300; 400; 500; 600; 700; 800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    list-style-position: inside;
}

html, body {
    height: 100%;
    width: 100%;
}

:root {
    --fontinter: "Inter", sans-serif;
    
    --fontmukta: "Mukta", sans-serif;  
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

header nav {
    font-family: var(--fontinter);
    padding-left: 20px;
}

header nav ul, li a {
    display: flex;
    gap: 15px;
    color: #353436;
    font-size: 14px;
    font-weight: 500;
} 

header ul li, a:focus {
    color: #B91C1C;
}

.header-logo svg {
    height: 60px;
    width: 120px;
}

.icons-sociais {
    display: flex;
    gap: 10px;
}

.icons-sociais svg {
    height: 20px;
}

main {
    width: 100%;
}

.section1 {
    background-color: #111827;
    padding: 100px;
    width: 100%;
}

.section1 h2 {
    font-family: var(--fontmukta);
    font-weight: 600;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.section1 p {
    color: #F3F4F6;
    font-family: var(--fontinter);
    padding-top: 33px;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    font-size: 15px;
}

.section2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: var(--fontinter);
    color: white;
    font-size: 15px;
    text-align: center;

}

.art1 {
    width: 100%;
    padding: 40px;
    background-color: #353436;
}

.art2 {
    width: 100%;
    padding: 40px;
    background-color: #B91C1C;
}

.art3 {
    width: 100%;
    padding: 40px;
    background-color: #481A8F;
}

.section3 {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.section3 h2 {
    margin-top: 50px;
}

.section3 main {
    width: 100%;
}

.section-cursos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item-curso {
    text-align: center;
    width: 170px;
    padding: 35px;
    background-color: #F3F4F6;
}

.item-curso-diferente {
    padding: 0;
    display: flex;
    align-items: center;
}

.item-curso-diferente svg {
    width: 100% !important;
}

.item-curso svg {
    width: 100px;
    height: 120px;
}

.section4 {
    width: 100%;
    display: flex;
}

.empregos {
    background-color: #B91C1C;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--fontmukta);
    font-size: 20px;
}

.vagas {
    width: 50%;
    text-align: center;
    background-color: #F3F4F6;
    padding-left: 15px;
    padding: 20px;
}

.vagas article {
    text-align: left;
    padding: 10px;
    line-height: 25px;
}

.vagas h2 {
    width: 100%;
    text-align: left;
    font-family: var(--fontmukta);
    font-size: 15px;
}

.vagas main {
    font-family: var(--fontinter);
    font-size: 14px;
    color: #353436;
    font-weight: 500;
}

.vagas footer {
    font-family: var(--fontinter);
    font-size: 12px;
    color: #B91C1C;
    text-decoration: underline;
    font-weight: 600;
}

.section5 {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.section5 h2 {
    font-family: var(--fontmukta);
    color: #111827;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
}


.section5 main header {
    background-color: #B91C1C;
    height: 150px;
    border-radius: 5px 5px 0 0;
}

.section5 main {
    color: #111827;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    gap: 20px;
}

.section5 footer {
    color: #353436;
}

.noticia {
    background-color: #F3F4F6;
    padding-bottom: 5px;
    text-align: left;
    border-radius: 10px;
}

.noticia main {
    margin-top: 20px;
}

.noticia main h4 {
    text-align: left;
    margin-left: 15px;
    color: #111827;
    font-family: var(--fontmukta);
}

.noticia .pad-noticia {
    padding: 0px 13px;
}

.noticia footer p {
    margin-top: 10px;
    margin-left: 15px;
    color: #353436;
    font-family: var(--fontinter);
    font-size: 13px;
    text-align: left;
    font-weight: 500;
}


.section5 main footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #353436;
}

.section5-pad {
    padding: 10px;
}

.footer-section5 {
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
}

.section5 footer button {
    width: 230px;
    height: 45px;
    background-color: #B91C1C;
    color: white;
    font-family: var(--fontinter);
    border: 0;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

.footer-principal {
    background-color: #B91C1C;
    width: 100%; 
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    color: white;
}

.footer-principal-main {
    padding: 10px 10px 50px 10px;
    max-width: 1200px;
}


.footer-principal-main section {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    padding-left: 75px;
    padding-right: 50px;
    gap: 100px;
}

.logo-footer svg {
    width: 180px;
}

.svg-info {
    display: flex;
    align-items: center;
}

.svg-info svg {
    background-color: white;
    border-radius: 50%;
    padding: 3px; 
    margin-right: 10px;
}

.art-info {
    display: flex;
    text-align: center;
}

.footer-flex p {
    margin-top: 2px;
    text-align: left;
    font-family: var(--fontmukta);
    font-size: 15px;
}

.footer-flex span {
    color: #F3F4F6;
    font-size: 10px;
    font-family: var(--fontinter);
}

.footer-info2 {
    display: flex;
    align-items: center;
    font-family: var(--fontmukta);
} 

.footer-info2 p {
    font-size: 12px;
}


.footer-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.footer-width {
    width: 30%;
}

.footer-info {
    width: 25%;
}

.footer-info-ultimo {
    width: 45%;
}

.footer-info-ultimo h4 {
    font-size: 12px;
    font-family: var(--fontmukta);
    height: 600;
}

.footer-info-ultimo p {
    margin-top: 10px;
    font-size: 11px;
    color: #F3F4F6;
    font-family: var(--fontinter);
    height: 500;
    line-height: 18px;
}

.footer-icon-social {
    display: flex;
    margin-top: 17px;
    gap: 20px;
}

.footer-icon-social svg {
    padding: 3px;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.footer-do-footer {
    background-color: #AA1818;
    width: 100%;
    padding: 10px;
}

.footer-do-footer p {
    color: white;
    text-align: center;
    font-family: var(--fontinter);
    font-size: 13px;
}

@media screen and (max-width: 600px) {
    .header-principal {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .header-principal nav {
        padding-bottom: 5px;
    }
    
    .icons-sociais {
        position: absolute;
        right: 0;
        top: 0;
        gap: 0;
    }

    .section1 {
        width: 100%;
        padding: 40px;
    }

    .section1 main {
        width: 100%;
    }

    .section2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section4 {
        display: flex;
        flex-direction: column;
    }

    .empregos, .vagas {
        width: 100%;
    }

    .empregos {
        padding: 50px;
        text-align: center;
    }

    .midiabox {
        display: flex;
        flex-direction: column;
    }

    .footer-principal {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .footer-principal main {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .footer-principal-main section {
        justify-content: normal;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .footer-width {
        width: 100%;
    }

    .footer-info {
        padding: 20px;
        word-wrap: break-word;
        width: 50%;
    }

    .footer-info-ultimo {
        padding: 20px;
        width: 50%;
    }


    .section-footer-final, .footer-principal, .footer-principal-main {
        width: 100%;
        word-wrap: break-word;
    }

    .logo-footer svg {
        width: 50px;
    }


    .footer-principal-main section {
        gap: 0;
        width: 100%;
    }

    .footer-info3 {
        width: 80%;
        margin-right: 50px;
    }

    .footer-info3 p {
        word-wrap: break-word;
        font-size: 11px;
    }

    .red {
        width: 100%;
        display: flex;
        padding: 50px;
        box-sizing: border-box;
    }

    .section-footer-final {
        flex-direction: column;
    }

    .logo-footer {
        text-align: center;
    }

    .logo-footer svg {
        width: 150px;
    }

    .footer-icon-social {
        gap: 10px;
    }

    .footer-icon-social svg {
        width: 30px;
    }

    .art2  {
        width: 100%;
    }

    .footer-do-footer main {
        padding: 10px;
    }

    .footer-do-footer p {
        font-size: 10px;
    }

    .svg-info svg {
        width: 25px;
    }

    .svg-info svg {
        width: 20px;
    }

    .footer-info3 p {
        width: 100%;
    }

}